NodeRED/flows_streamer.json
[{"id":"4f0c2520.575a9c","type":"tab","label":"SelectChannel","disabled":false,"info":""},{"id":"de2e7d82.09ec7","type":"tab","label":"CD","disabled":false,"info":""},{"id":"f26105ec.115a48","type":"tab","label":"Rename folder","disabled":false,"info":""},{"id":"8a1b44a4.396538","type":"tab","label":"CD cover","disabled":false,"info":""},{"id":"4adf153.a1923ec","type":"tab","label":"SelectOutput","disabled":false,"info":""},{"id":"9c0eb5d6.022818","type":"tab","label":"Power","disabled":false,"info":""},{"id":"808d92ca.2432c","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"9702d746.d35fc8","type":"tab","label":"Roomcorrection","disabled":false,"info":""},{"id":"cdbd32ff.b1f93","type":"tab","label":"Profiles","disabled":false,"info":""},{"id":"ccd44750.ccd178","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"297a1d3f.694472","type":"ui_group","z":"","name":"Default","tab":"fd496ab0.71e4f8","order":1,"disp":false,"width":"6","collapse":false},{"id":"190cb094.9f2a9f","type":"ui_group","z":"","name":"tools","tab":"3cc1bd72.053af2","order":1,"disp":false,"width":"6","collapse":false},{"id":"3cc1bd72.053af2","type":"ui_tab","z":"","name":"Power","icon":"mi-power_settings_new","order":6,"disabled":false,"hidden":false},{"id":"e4570f83.4fca","type":"ui_group","z":"","name":"DSP","tab":"8af31a1.6b2f0e8","order":1,"disp":false,"width":"6","collapse":false},{"id":"8af31a1.6b2f0e8","type":"ui_tab","z":"","name":"Room correction profiles","icon":"mi-face","order":9,"disabled":false,"hidden":false},{"id":"a55f8693.aa3e08","type":"ui_tab","z":"","name":"Room correction filters","icon":"mi-house","order":8,"disabled":false,"hidden":false},{"id":"819e4859.5bb528","type":"ui_group","z":"","name":"Roomcorrection","tab":"a55f8693.aa3e08","order":1,"disp":false,"width":"6","collapse":false},{"id":"c3e35169.af6a1","type":"ui_group","z":"","name":"Tools","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e54b345.cbd2bc8","type":"ui_tab","z":"","name":"CD play/rip","icon":"mi-adjust","order":2,"disabled":false,"hidden":false},{"id":"ffd0fcd4.e4213","type":"ui_group","z":"","name":"CD","tab":"e54b345.cbd2bc8","order":1,"disp":false,"width":"6","collapse":false},{"id":"fd496ab0.71e4f8","type":"ui_tab","z":"","name":"Find CD cover","icon":"mi-image_search","order":4,"disabled":false,"hidden":false},{"id":"9411d95e.6c7fd8","type":"ui_group","z":"","name":"Select input channel","tab":"19d3ff64.295ed1","order":1,"disp":true,"width":"6","collapse":false},{"id":"edccfb9a.afd708","type":"ui_group","z":"","name":"Set volume level","tab":"19d3ff64.295ed1","order":2,"disp":true,"width":"6","collapse":false},{"id":"19d3ff64.295ed1","type":"ui_tab","z":"","name":"Channel/Level","icon":"mi-volume_up","order":1,"disabled":false,"hidden":false},{"id":"a8e9318f.86caf","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"43c2229a.e20e9c","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"5846888e.b6b418","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"5726fdb6.2d1fb4","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"8249388c.8641f8","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"12228bb8.b96c64","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"8d0ab2a4.a85cd","type":"ui_group","z":"","name":"Rename ripped folder","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"9686a91c.8c6eb8","type":"ui_group","z":"","name":"Rename ripped folder","tab":"e0cb8508.776bc8","order":1,"disp":false,"width":"6","collapse":false},{"id":"e0cb8508.776bc8","type":"ui_tab","z":"","name":"Rename ripped folder","icon":"mi-mode_edit","order":3,"disabled":false,"hidden":false},{"id":"543ebd8c.b53984","type":"ui_tab","z":"","name":"Setup","icon":"mi-volume_down","order":7,"disabled":false,"hidden":false},{"id":"ffbbbfa.aa5714","type":"ui_group","z":"","name":"Volume level at power on","tab":"543ebd8c.b53984","order":1,"disp":true,"width":"6","collapse":false},{"id":"73b4abdc.2e70d4","type":"ui_tab","z":"","name":"Output channel","icon":"mi-call_split","order":5,"disabled":false,"hidden":false},{"id":"7413ebbd.d2e414","type":"ui_group","z":"","name":"Select output channel and level","tab":"73b4abdc.2e70d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5cedda2e.d60ef4","type":"ui_group","z":"","name":"InfraRed volume control","tab":"543ebd8c.b53984","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee52eae5.0f1218","type":"ui_spacer","name":"spacer","group":"5cedda2e.d60ef4","order":2,"width":1,"height":1},{"id":"4898b7f9.7722d8","type":"ui_group","z":"","name":"Operation","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"dd3525cd.ae4368","type":"ui_dropdown","z":"cdbd32ff.b1f93","name":"","label":"","tooltip":"","place":"Select option","group":"e4570f83.4fca","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":940,"y":100,"wires":[["76ce8570.8d042c","cdcb49f1.3c3d78"]]},{"id":"c6e125fe.afae48","type":"exec","z":"cdbd32ff.b1f93","command":"cd /media/internaldisk/roomcorrection; ls *.xml","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":100,"wires":[["b9b8a07c.53a55"],[],[]]},{"id":"415f68b5.d56b48","type":"ui_button","z":"cdbd32ff.b1f93","name":"Button: Update DSP profiles","group":"e4570f83.4fca","order":2,"width":0,"height":0,"passthru":false,"label":"Get DSP profiles","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["c6e125fe.afae48"]]},{"id":"b9b8a07c.53a55","type":"function","z":"cdbd32ff.b1f93","name":"Create options","func":"var files = msg.payload.split(\"\\n\");\nfiles.pop();\nmsg.payload = files[0];\nmsg.options = files;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":100,"wires":[["dd3525cd.ae4368"]]},{"id":"f23a0e15.c93af","type":"inject","z":"cdbd32ff.b1f93","name":"Trigger at startup","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["c6e125fe.afae48"]]},{"id":"d3df3b30.e78208","type":"ui_button","z":"cdbd32ff.b1f93","name":"","group":"e4570f83.4fca","order":4,"width":0,"height":0,"passthru":false,"label":"Activate selected DSP profile","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SelectedProfile","payloadType":"flow","topic":"","x":180,"y":260,"wires":[["c9604e8e.8dc42","5f7c9cb8.4fb6b4","220000cb.2933f"]]},{"id":"1d10307a.cd1b","type":"exec","z":"cdbd32ff.b1f93","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":260,"wires":[["4380d251.79247c"],[],[]]},{"id":"76ce8570.8d042c","type":"change","z":"cdbd32ff.b1f93","name":"","rules":[{"t":"set","p":"SelectedProfile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":100,"wires":[[]]},{"id":"4380d251.79247c","type":"ui_text","z":"cdbd32ff.b1f93","group":"e4570f83.4fca","order":7,"width":0,"height":0,"name":"Result activation profile","label":"","format":"{{msg.payload}}","layout":"row-left","x":1070,"y":340,"wires":[]},{"id":"cdcb49f1.3c3d78","type":"function","z":"cdbd32ff.b1f93","name":"Send empty string","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["4380d251.79247c"]]},{"id":"c9604e8e.8dc42","type":"function","z":"cdbd32ff.b1f93","name":"Create activate command","func":"msg.payload = \"dsptoolkit install-profile /media/internaldisk/roomcorrection/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["1d10307a.cd1b"]]},{"id":"5f7c9cb8.4fb6b4","type":"function","z":"cdbd32ff.b1f93","name":"Send \"Working...\"","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["4380d251.79247c"]]},{"id":"b0d493b.1892e7","type":"ui_dropdown","z":"9702d746.d35fc8","name":"","label":"","tooltip":"","place":"Select option","group":"819e4859.5bb528","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":920,"y":160,"wires":[["2f580c96.3bf824","7a0d5023.523d6"]]},{"id":"30b8f2ca.6161fe","type":"exec","z":"9702d746.d35fc8","command":"cd /media/internaldisk/roomcorrection; ls *.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":160,"wires":[["787950ae.61397"],[],[]]},{"id":"1e2d6c4c.136764","type":"ui_button","z":"9702d746.d35fc8","name":"Button: Update files","group":"819e4859.5bb528","order":2,"width":0,"height":0,"passthru":false,"label":"Get filters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[["30b8f2ca.6161fe"]]},{"id":"787950ae.61397","type":"function","z":"9702d746.d35fc8","name":"Create options","func":"var files = msg.payload.split(\"\\n\");\nfiles.pop();\nmsg.payload = files[0];\nmsg.options = files;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["b0d493b.1892e7"]]},{"id":"5de64278.06b4fc","type":"inject","z":"9702d746.d35fc8","name":"Trigger at startup","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["30b8f2ca.6161fe"]]},{"id":"288c5c1a.fe2bd4","type":"ui_button","z":"9702d746.d35fc8","name":"","group":"819e4859.5bb528","order":4,"width":0,"height":0,"passthru":false,"label":"Activate selected filter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SelectedFilter","payloadType":"flow","topic":"","x":140,"y":320,"wires":[["1064ec5d.a57974","ea04cd00.f083c","56ad8165.ad3d9"]]},{"id":"4d61ca70.ca7b74","type":"exec","z":"9702d746.d35fc8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":320,"wires":[["44334c4c.d14424"],[],[]]},{"id":"2f580c96.3bf824","type":"change","z":"9702d746.d35fc8","name":"","rules":[{"t":"set","p":"SelectedFilter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":160,"wires":[[]]},{"id":"44334c4c.d14424","type":"ui_text","z":"9702d746.d35fc8","group":"819e4859.5bb528","order":8,"width":"6","height":"4","name":"Result","label":"","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":380,"wires":[]},{"id":"7a0d5023.523d6","type":"function","z":"9702d746.d35fc8","name":"Send empty string","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["44334c4c.d14424"]]},{"id":"1064ec5d.a57974","type":"function","z":"9702d746.d35fc8","name":"Create activate command","func":"msg.payload = \"dsptoolkit apply-rew-filters /media/internaldisk/roomcorrection/\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":320,"wires":[["4d61ca70.ca7b74"]]},{"id":"ea04cd00.f083c","type":"function","z":"9702d746.d35fc8","name":"Send \"Working...\"","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["44334c4c.d14424"]]},{"id":"67cc7b3b.f08254","type":"ui_button","z":"9702d746.d35fc8","name":"Button: clear filters","group":"819e4859.5bb528","order":6,"width":0,"height":0,"passthru":false,"label":"Clear filter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Filters removed","payloadType":"str","topic":"","x":130,"y":480,"wires":[["5e69fe73.a82f3","9339c936.c27968","56ad8165.ad3d9"]]},{"id":"dbdad01.dcfdd3","type":"ui_button","z":"9702d746.d35fc8","name":"Button: Persist","group":"819e4859.5bb528","order":7,"width":0,"height":0,"passthru":false,"label":"Persist filter to EEPROM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["6a572c00.e346d4","567aeac5.31ca84"]]},{"id":"6a572c00.e346d4","type":"exec","z":"9702d746.d35fc8","command":"dsptoolkit store-filters","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":400,"wires":[["44334c4c.d14424"],[],[]]},{"id":"5e69fe73.a82f3","type":"exec","z":"9702d746.d35fc8","command":"dsptoolkit clear-iir-filters","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":480,"wires":[["44334c4c.d14424"],[],[]]},{"id":"567aeac5.31ca84","type":"function","z":"9702d746.d35fc8","name":"Send \"Working...\"","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["44334c4c.d14424"]]},{"id":"9339c936.c27968","type":"function","z":"9702d746.d35fc8","name":"Send \"Working...\"","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["44334c4c.d14424"]]},{"id":"8ae01e9f.bbdfb","type":"ui_text","z":"cdbd32ff.b1f93","group":"e4570f83.4fca","order":1,"width":0,"height":0,"name":"","label":"Needed only once when DSP DAC board is replaced","format":"{{msg.payload}}","layout":"row-spread","x":220,"y":40,"wires":[]},{"id":"87dae95f.53c5f8","type":"ui_text","z":"9702d746.d35fc8","group":"819e4859.5bb528","order":5,"width":0,"height":0,"name":"","label":"Last filter: ","format":"{{msg.payload}}","layout":"row-left","x":740,"y":660,"wires":[]},{"id":"63f6efba.220de","type":"inject","z":"9702d746.d35fc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ActivatedFilter","payloadType":"flow","x":170,"y":660,"wires":[["87dae95f.53c5f8"]]},{"id":"56ad8165.ad3d9","type":"change","z":"9702d746.d35fc8","name":"","rules":[{"t":"set","p":"ActivatedFilter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["87dae95f.53c5f8"]]},{"id":"73feaa8d.d7bf24","type":"ui_text","z":"cdbd32ff.b1f93","group":"e4570f83.4fca","order":5,"width":0,"height":0,"name":"","label":"Last filter: ","format":"{{msg.payload}}","layout":"row-left","x":680,"y":360,"wires":[]},{"id":"34db1023.db77e","type":"inject","z":"cdbd32ff.b1f93","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ActivatedProfile","payloadType":"flow","x":180,"y":380,"wires":[["73feaa8d.d7bf24"]]},{"id":"220000cb.2933f","type":"change","z":"cdbd32ff.b1f93","name":"","rules":[{"t":"set","p":"ActivatedProfile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["73feaa8d.d7bf24"]]},{"id":"1468c806.533e48","type":"ui_button","z":"cdbd32ff.b1f93","name":"Button: Persist","group":"e4570f83.4fca","order":6,"width":0,"height":0,"passthru":false,"label":"Persist profile to EEPROM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":460,"wires":[["bb97ff1c.42c1c"]]},{"id":"bb97ff1c.42c1c","type":"function","z":"cdbd32ff.b1f93","name":"Send \"Working...\"","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["766253b3.c4049c","4380d251.79247c"]]},{"id":"766253b3.c4049c","type":"exec","z":"cdbd32ff.b1f93","command":"dsptoolkit store","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":460,"wires":[["4380d251.79247c"],[],[]]},{"id":"712850e7.9dd99","type":"exec","z":"de2e7d82.09ec7","command":"/usr/bin/eject","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Eject CD","x":380,"y":560,"wires":[[],[],[]]},{"id":"b3c43d39.643be","type":"ui_button","z":"de2e7d82.09ec7","name":"Button: Eject CD","group":"ffd0fcd4.e4213","order":6,"width":"6","height":"1","passthru":false,"label":"Eject","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":560,"wires":[["712850e7.9dd99"]]},{"id":"48026144.f0f1a","type":"ui_switch","z":"de2e7d82.09ec7","name":"Auto Play","label":"Start playing when CD inserted:","tooltip":"","group":"ffd0fcd4.e4213","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":60,"wires":[["d2f2023.01f0a"]]},{"id":"b433c8c2.4ac5f8","type":"ui_button","z":"de2e7d82.09ec7","name":"","group":"ffd0fcd4.e4213","order":10,"width":"4","height":"1","passthru":true,"label":"Rip CD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ripping... Wait until CD ejected","payloadType":"str","topic":"","x":120,"y":1140,"wires":[["24a17e64.2149d2","d0436c83.4d7a9"]]},{"id":"bf80ac58.3a0ec","type":"exec","z":"de2e7d82.09ec7","command":"mkdir -p \"/media/usbdisk/Music/Ripped\";cd \"/media/usbdisk/Music/Ripped\"; abcde -o flac -x -N","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Rip","x":690,"y":1260,"wires":[["c624cc34.d4f83","c7e8745e.b8d9c8","1e6d85b4.75357a"],[],[]]},{"id":"5365ac72.024314","type":"ui_text","z":"de2e7d82.09ec7","group":"ffd0fcd4.e4213","order":12,"width":"6","height":"1","name":"output command","label":"","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":1160,"wires":[]},{"id":"9c1a3a41.0da788","type":"exec","z":"de2e7d82.09ec7","command":"echo \"yes\" > /opt/cdcontrol/AutoStartCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1280,"y":40,"wires":[[],[],[]]},{"id":"d2f2023.01f0a","type":"switch","z":"de2e7d82.09ec7","name":"true or false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":60,"wires":[["9c1a3a41.0da788","632c003b.94e06"],["44996719.a93a08"]]},{"id":"44996719.a93a08","type":"exec","z":"de2e7d82.09ec7","command":"rm /opt/cdcontrol/AutoStartCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":100,"wires":[[],[],[]]},{"id":"4b0c100d.3d6ff","type":"inject","z":"de2e7d82.09ec7","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":60,"wires":[["7e4c3e14.2569a"]]},{"id":"29acb4e7.ce189c","type":"ui_button","z":"de2e7d82.09ec7","name":"Button: Stop","group":"ffd0fcd4.e4213","order":3,"width":"2","height":"1","passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":420,"wires":[["d75f8300.aaea1"]]},{"id":"d75f8300.aaea1","type":"exec","z":"de2e7d82.09ec7","command":"python /opt/cdcontrol/playercontrol.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":440,"wires":[[],[],[]]},{"id":"9f99ebe3.d42d88","type":"ui_button","z":"de2e7d82.09ec7","name":"Button: Play","group":"ffd0fcd4.e4213","order":4,"width":"2","height":"1","passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"play","payloadType":"str","topic":"","x":130,"y":460,"wires":[["d75f8300.aaea1","bc2cef5b.2ad67"]]},{"id":"3cfe61f2.03b62e","type":"delay","z":"de2e7d82.09ec7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1260,"wires":[["bf80ac58.3a0ec","55231dcc.d172b4"]]},{"id":"9f9ddd91.311b1","type":"ui_button","z":"de2e7d82.09ec7","name":"","group":"ffd0fcd4.e4213","order":11,"width":"2","height":"1","passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Ripping canceled","payloadType":"str","topic":"","x":90,"y":1220,"wires":[["e385cd02.e061"]]},{"id":"4af6dc14.065ae4","type":"ui_button","z":"de2e7d82.09ec7","name":"Button: Prev","group":"ffd0fcd4.e4213","order":2,"width":"1","height":"1","passthru":false,"label":"<","tooltip":"","color":"","bgcolor":"","icon":"","payload":"prev","payloadType":"str","topic":"","x":130,"y":380,"wires":[["d75f8300.aaea1"]]},{"id":"8a47bbdd.600b58","type":"ui_button","z":"de2e7d82.09ec7","name":"Button: Next","group":"ffd0fcd4.e4213","order":5,"width":"1","height":"1","passthru":false,"label":">","tooltip":"","color":"","bgcolor":"","icon":"","payload":"next","payloadType":"str","topic":"","x":130,"y":500,"wires":[["d75f8300.aaea1"]]},{"id":"e8e0d648.917648","type":"exec","z":"de2e7d82.09ec7","command":"pkill -e abcde","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Kill abcde","x":280,"y":1300,"wires":[[],[],["d3b58a91.3ca2f8"]]},{"id":"846b73de.e3d82","type":"exec","z":"de2e7d82.09ec7","command":"cd \"/media/usbdisk/Music/Ripped\"; rm -Rf abcde.*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Cleanup tmp","x":570,"y":1580,"wires":[[],[],["7f57da6c.9c3fe4"]]},{"id":"c624cc34.d4f83","type":"function","z":"de2e7d82.09ec7","name":"Get CD title","func":"var pos = msg.payload.indexOf(\"---- \");\nvar s = msg.payload.substr(pos + 5);\n\npos = s.indexOf(\" ----\");\nmsg.payload = s.substr(0, pos);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1520,"wires":[["ae7a0588.a9e7f8","5365ac72.024314"]]},{"id":"55231dcc.d172b4","type":"function","z":"de2e7d82.09ec7","name":"return \"\"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1560,"wires":[["1cb54a14.d5de56"]]},{"id":"dd537290.e6e11","type":"function","z":"de2e7d82.09ec7","name":"Set Ripping=true","func":"flow.set(\"Ripping\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1100,"wires":[["1394ec08.94c0c4"]]},{"id":"24a17e64.2149d2","type":"function","z":"de2e7d82.09ec7","name":"If can start Ripping","func":"if (!flow.get(\"CD_Inserted\")) return;\nif (flow.get(\"Ripping\")) return;\n\nmsg.payload = \"Ripping. Wait until title appears...\";\nreturn msg;  \n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1140,"wires":[["dd537290.e6e11","3cfe61f2.03b62e","5365ac72.024314","e4379019.98191","aa7d8d36.c6204"]]},{"id":"75b9871a.3613a8","type":"ui_switch","z":"de2e7d82.09ec7","name":"Button RippingFast","label":"Ripping fast (but noisy):","tooltip":"","group":"ffd0fcd4.e4213","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":720,"wires":[["578227fa.2bbdc8"]]},{"id":"2776b438.b0594c","type":"inject","z":"de2e7d82.09ec7","name":"Init: get RippingFast","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"RippingFast","payloadType":"flow","x":180,"y":660,"wires":[["75b9871a.3613a8"]]},{"id":"241326bc.7c4f0a","type":"exec","z":"de2e7d82.09ec7","command":"echo \"yes\" > /opt/cdcontrol/RippingFast","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Create file RippingFast","x":1180,"y":700,"wires":[[],[],[]]},{"id":"33416695.526f3a","type":"switch","z":"de2e7d82.09ec7","name":"true or false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":720,"wires":[["4e5e8000.3d448"],["1e6d85b4.75357a"]]},{"id":"45806ca6.5ecde4","type":"exec","z":"de2e7d82.09ec7","command":"rm /opt/cdcontrol/RippingFast","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Remove file RippingFast","x":1190,"y":760,"wires":[[],[],[]]},{"id":"4e5e8000.3d448","type":"exec","z":"de2e7d82.09ec7","command":"/usr/bin/eject -x24","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"set CD speed fast","x":950,"y":700,"wires":[["241326bc.7c4f0a"],[],[]]},{"id":"1e6d85b4.75357a","type":"exec","z":"de2e7d82.09ec7","command":"/usr/bin/eject -x4","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"set CD speed slow","x":950,"y":760,"wires":[["45806ca6.5ecde4"],[],[]]},{"id":"cc08a7b2.06dce8","type":"ui_audio","z":"de2e7d82.09ec7","name":"","group":"ffd0fcd4.e4213","voice":"en-GB","always":true,"x":1200,"y":1200,"wires":[]},{"id":"ae5ec8a5.2a3188","type":"exec","z":"de2e7d82.09ec7","command":"/usr/bin/setcd -i","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Check CD status","x":310,"y":880,"wires":[["f9e2a9d2.e19228"],[],[]]},{"id":"3e0dce96.2d0072","type":"inject","z":"de2e7d82.09ec7","name":"interval 3 s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":880,"wires":[["ae5ec8a5.2a3188"]]},{"id":"b04edf9a.51a19","type":"ui_switch","z":"de2e7d82.09ec7","name":"Auto rip","label":"Start ripping when CD inserted:","tooltip":"","group":"ffd0fcd4.e4213","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":240,"wires":[["9a7f3757.558ab8","83a14368.d73d9"]]},{"id":"8149f490.950648","type":"exec","z":"de2e7d82.09ec7","command":"echo \"yes\" > /opt/cdcontrol/AutoRipCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":220,"wires":[[],[],[]]},{"id":"9a7f3757.558ab8","type":"switch","z":"de2e7d82.09ec7","name":"true or false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":240,"wires":[["8149f490.950648","8158befb.cf07b"],["5ff45a8a.253584"]]},{"id":"5ff45a8a.253584","type":"exec","z":"de2e7d82.09ec7","command":"rm /opt/cdcontrol/AutoRipCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1240,"y":280,"wires":[[],[],[]]},{"id":"83a14368.d73d9","type":"function","z":"de2e7d82.09ec7","name":"set AutoRipCD","func":"flow.set(\"AutoRipCD\", msg.payload);\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":280,"wires":[[]]},{"id":"c08a5ab9.8e9368","type":"function","z":"de2e7d82.09ec7","name":"CD inserted & AutoRipCD & !Canceled","func":"var inserted = flow.get(\"CD_Inserted\");\nvar autoRipCD = flow.get(\"AutoRipCD\");\nvar canceled = flow.get(\"Canceled\");\n\nnode.status({fill:\"blue\", shape:\"ring\", \n            text: \"CD_Inserted:\" + inserted + \" AutoRipCD:\" + autoRipCD + \" Canceled:\" + canceled});\n\nif (inserted && autoRipCD && !canceled) {\n    msg.payload = true;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1040,"wires":[["b433c8c2.4ac5f8"]]},{"id":"afc6fd3c.9f469","type":"inject","z":"de2e7d82.09ec7","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":910,"y":1320,"wires":[["7135ddfb.5547b4","5d8a6327.fea0dc"]]},{"id":"1394ec08.94c0c4","type":"function","z":"de2e7d82.09ec7","name":"set Canceled=false","func":"flow.set(\"Canceled\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1100,"wires":[[]]},{"id":"ae7a0588.a9e7f8","type":"function","z":"de2e7d82.09ec7","name":"Is unknown CD","func":"if (msg.payload.includes(\"Unknown Artist\")) {\n    var n = Date.now();\n    msg.payload = \"mv /media/usbdisk/Music/Ripped/Unknown_Artist-Unknown_Album /media/usbdisk/Music/Ripped/Unknown_\" + n.toString();\n    return msg;  \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1520,"wires":[["7c937d55.c5ef24"]]},{"id":"7c937d55.c5ef24","type":"exec","z":"de2e7d82.09ec7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Rename folder","x":1320,"y":1520,"wires":[[],[],[]]},{"id":"7135ddfb.5547b4","type":"exec","z":"de2e7d82.09ec7","command":"cd \"/media/usbdisk/Music/Ripped\"; rm -Rf abcde.*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Cleanup temp folder","x":1240,"y":1300,"wires":[[],[],[]]},{"id":"e3e22750.818dd8","type":"watch","z":"de2e7d82.09ec7","name":"On new folder","files":"/media/usbdisk/Music/Ripped","recursive":"","x":110,"y":2000,"wires":[["495970c4.db61f","d20c670f.c25c38"]]},{"id":"495970c4.db61f","type":"function","z":"de2e7d82.09ec7","name":"If Ripping","func":"if (!flow.get(\"Ripping\")) return;\nif (msg.payload.includes(\"abcde.\")) return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":2000,"wires":[["4656d99e.aa9b18"]]},{"id":"8467acfa.5753d","type":"function","z":"de2e7d82.09ec7","name":"create cmd for creating cover image","func":"var folder = flow.get(\"RippingFolder\");\nvar names = folder.split(\"/\");\nvar filename = names[names.length-1];\nvar items = filename.split(\"-\");\n\nvar artist = items[0];\nartist = artist.split('_').join(' ');\n\nif (artist.includes(\"Unkown\")) return;\n\nvar album = items[1];\nif (items.length > 2) album += items[2];\nalbum = album.split('_').join(' ');\n\nmsg.payload = 'cd \"' + folder + '\";glyrc cover --artist \"' + artist + '\" --album \"' + album + '\"';\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":2120,"wires":[["1f72f137.c5224f"]]},{"id":"1f72f137.c5224f","type":"exec","z":"de2e7d82.09ec7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":2080,"wires":[["5dc0e177.15b29"],["5dc0e177.15b29"],["9c8f204.be708e"]]},{"id":"578227fa.2bbdc8","type":"function","z":"de2e7d82.09ec7","name":"Store in RippingFast","func":"flow.set(\"RippingFast\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":720,"wires":[["c7b34c0d.a46e1"]]},{"id":"d0436c83.4d7a9","type":"function","z":"de2e7d82.09ec7","name":"If NO CD Inserted","func":"var inserted = flow.get(\"CD_Inserted\");\nif (!inserted) {\n    msg.payload = \"No CD inserted\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1180,"wires":[["5365ac72.024314"]]},{"id":"e4379019.98191","type":"function","z":"de2e7d82.09ec7","name":"If RippingFast","func":"if (!flow.get(\"RippingFast\")) return;\n\nreturn msg;  \n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1000,"wires":[["4e5e8000.3d448"]]},{"id":"c7b34c0d.a46e1","type":"function","z":"de2e7d82.09ec7","name":"If Ripping","func":"if (flow.get(\"Ripping\")) return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":720,"wires":[["33416695.526f3a"]]},{"id":"8158befb.cf07b","type":"function","z":"de2e7d82.09ec7","name":"NOT","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":100,"wires":[["48026144.f0f1a"]]},{"id":"632c003b.94e06","type":"function","z":"de2e7d82.09ec7","name":"NOT","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":200,"wires":[["b04edf9a.51a19"]]},{"id":"f9e2a9d2.e19228","type":"function","z":"de2e7d82.09ec7","name":"set CD_Inserted","func":"var wasInserted = flow.get(\"CD_Inserted\");\n\nvar inserted = msg.payload.includes(\"Disc found in drive: audio disc\");\nflow.set(\"CD_Inserted\", inserted);\n\n\nif (inserted != wasInserted) {\n    if (flow.get(\"Ripping\")) return;\n\n    var msg2 = { payload: \"\" };\n    if (inserted) msg2.payload = \"CD inserted\";\n    else msg2.payload = \"CD ejected\";\n    \n    return [msg, msg2];\n}\nelse {\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":880,"wires":[["25a5e27a.8067fe"],["5365ac72.024314"]],"outputLabels":["always","On changed"]},{"id":"4656d99e.aa9b18","type":"function","z":"de2e7d82.09ec7","name":"set RippingFolder","func":"flow.set(\"RippingFolder\", msg.payload);\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2000,"wires":[["8467acfa.5753d"]]},{"id":"9c8f204.be708e","type":"function","z":"de2e7d82.09ec7","name":"create cmd for copy png","func":"if (msg.payload.code !== 0) return;\n\nvar RippingFolder = flow.get(\"RippingFolder\");\nmsg.payload = \"cd \\\"\" + flow.get(\"RippingFolder\") + \"\\\"; cp -f *.png /home/pi/image/cover\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2100,"wires":[["7c3023a7.dc259c","1f683f98.424ba"]]},{"id":"284f6fd6.fe8b8","type":"exec","z":"de2e7d82.09ec7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":1660,"wires":[[],[],["f572bffb.4874f"]]},{"id":"aa7d8d36.c6204","type":"function","z":"de2e7d82.09ec7","name":"clear RippingFolder","func":"flow.set(\"RippingFolder\", \"\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1040,"wires":[["85179ece.8b3a7"]]},{"id":"7f57da6c.9c3fe4","type":"function","z":"de2e7d82.09ec7","name":"remove RippingFolder","func":"var RippingFolder = flow.get(\"RippingFolder\");\nmsg.payload = \"rm -Rf \\\"\" + RippingFolder + \"\\\"\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":1680,"wires":[["284f6fd6.fe8b8"]]},{"id":"7c3023a7.dc259c","type":"exec","z":"de2e7d82.09ec7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":2080,"wires":[[],[],["ad39f57a.556158"]]},{"id":"849b13ae.c649c","type":"function","z":"de2e7d82.09ec7","name":"show cover","func":"msg.template = '<img ng-src=\"' + msg.payload + '\" />';\nmsg.payload = \"\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.template});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1840,"wires":[["667245e1.7852ec"]]},{"id":"1d51b8b8.4e53c7","type":"function","z":"de2e7d82.09ec7","name":"Msg: Canceling...","func":"msg.payload = \"Canceling...\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1220,"wires":[["5365ac72.024314"]]},{"id":"1cb54a14.d5de56","type":"function","z":"de2e7d82.09ec7","name":"hide cover","func":"msg.template = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1800,"wires":[["667245e1.7852ec"]]},{"id":"667245e1.7852ec","type":"ui_template","z":"de2e7d82.09ec7","group":"ffd0fcd4.e4213","name":"Cover image","order":13,"width":"6","height":"6","format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1070,"y":1820,"wires":[["ba601163.9e9a6"]]},{"id":"3df00759.bb70b8","type":"inject","z":"de2e7d82.09ec7","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":690,"y":1800,"wires":[["1cb54a14.d5de56"]]},{"id":"25a5e27a.8067fe","type":"delay","z":"de2e7d82.09ec7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":980,"wires":[["c08a5ab9.8e9368"]]},{"id":"90e2bb21.0ea718","type":"function","z":"de2e7d82.09ec7","name":"get cover file name","func":"var path = msg.payload;\n\npath = path.slice(0, -1); // remove return char\n\nvar items = path.split(\"/\");\nmsg.payload = \"/cover/\" + items[items.length-1];\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1860,"wires":[["849b13ae.c649c","f74218fe.224178"]]},{"id":"ad39f57a.556158","type":"exec","z":"de2e7d82.09ec7","command":"ls /home/pi/image/cover/*.png","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":1860,"wires":[["90e2bb21.0ea718","1932a4f1.40c8db"],[],[]]},{"id":"62cb6c3f.58cb54","type":"inject","z":"de2e7d82.09ec7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1860,"wires":[["ad39f57a.556158"]]},{"id":"85179ece.8b3a7","type":"exec","z":"de2e7d82.09ec7","command":"rm -f /home/pi/image/cover/*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"remove cover image","x":760,"y":1040,"wires":[[],[],[]]},{"id":"ba601163.9e9a6","type":"debug","z":"de2e7d82.09ec7","name":"cover image","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1820,"wires":[]},{"id":"1f683f98.424ba","type":"debug","z":"de2e7d82.09ec7","name":"cmd","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":2020,"wires":[]},{"id":"668bb90d.798528","type":"delay","z":"de2e7d82.09ec7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1600,"wires":[["846b73de.e3d82"]]},{"id":"5dc0e177.15b29","type":"debug","z":"de2e7d82.09ec7","name":"glyrc","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":2180,"wires":[]},{"id":"f572bffb.4874f","type":"function","z":"de2e7d82.09ec7","name":"Set Ripping=false","func":"flow.set(\"Ripping\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1660,"wires":[[]]},{"id":"3364c004.896c7","type":"function","z":"de2e7d82.09ec7","name":"Set Ripping=false","func":"flow.set(\"Ripping\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":1360,"wires":[[]]},{"id":"f5b0c171.92585","type":"function","z":"de2e7d82.09ec7","name":"remove RippingFolder","func":"var RippingFolder = flow.get(\"RippingFolder\");\nmsg.payload = \"rm -Rf \\\"\" + RippingFolder + \"\\\"\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":1360,"wires":[["63fecf9d.cc9f7"]]},{"id":"63fecf9d.cc9f7","type":"exec","z":"de2e7d82.09ec7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1610,"y":1340,"wires":[[],[],["3364c004.896c7"]]},{"id":"5d8a6327.fea0dc","type":"function","z":"de2e7d82.09ec7","name":"Set Ripping=false","func":"flow.set(\"Ripping\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1240,"wires":[["a29f9f92.0c059"]]},{"id":"f79f3355.1d28e","type":"function","z":"de2e7d82.09ec7","name":"set Canceled=true","func":"flow.set(\"Canceled\", true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1360,"wires":[["f5b0c171.92585"]]},{"id":"d3b58a91.3ca2f8","type":"exec","z":"de2e7d82.09ec7","command":"pkill cdparanoia","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Kill cdparanoia","x":300,"y":1380,"wires":[[],[],["fb02bf98.0f412"]]},{"id":"fb02bf98.0f412","type":"exec","z":"de2e7d82.09ec7","command":"pkill glyrc","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Kill glyrc","x":280,"y":1460,"wires":[[],[],[]]},{"id":"c7e8745e.b8d9c8","type":"function","z":"de2e7d82.09ec7","name":"Check result","func":"node.status({fill:\"blue\", shape:\"ring\", text: \"code: \" + msg.payload.code});\nvar ok = msg.payload.slice(-10);\nok = ok.slice(0, -1); // remove return char\n\nnode.status({fill:\"blue\", shape:\"ring\", text: \"code: \" + ok});\n\nif (ok === \"Finished.\") {\n    return [msg, null];\n} \nelse {\n    msg.payload = \"Ripping canceled\";\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":850,"y":1240,"wires":[["5d8a6327.fea0dc","7135ddfb.5547b4"],["5365ac72.024314","f79f3355.1d28e","7135ddfb.5547b4"]]},{"id":"d20c670f.c25c38","type":"debug","z":"de2e7d82.09ec7","name":"On new folder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":1960,"wires":[]},{"id":"1932a4f1.40c8db","type":"debug","z":"de2e7d82.09ec7","name":"cover files","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1920,"wires":[]},{"id":"f74218fe.224178","type":"debug","z":"de2e7d82.09ec7","name":"cover file name","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1900,"wires":[]},{"id":"235a0a91.60c526","type":"exec","z":"de2e7d82.09ec7","command":"ls /opt/cdcontrol/AutoRipCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":240,"wires":[[],[],["13a03903.b781c7"]]},{"id":"7e4c3e14.2569a","type":"exec","z":"de2e7d82.09ec7","command":"ls /opt/cdcontrol/AutoStartCD","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":60,"wires":[[],[],["601a7788.866068"]]},{"id":"601a7788.866068","type":"function","z":"de2e7d82.09ec7","name":"code to bool","func":"if (msg.payload.code === 0) msg.payload=true; else msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":60,"wires":[["48026144.f0f1a"]]},{"id":"c28e1377.3a283","type":"inject","z":"de2e7d82.09ec7","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":240,"wires":[["235a0a91.60c526"]]},{"id":"13a03903.b781c7","type":"function","z":"de2e7d82.09ec7","name":"code to bool","func":"if (msg.payload.code === 0) msg.payload=true; else msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["b04edf9a.51a19"]]},{"id":"e385cd02.e061","type":"function","z":"de2e7d82.09ec7","name":"If not Ripping","func":"if (!flow.get(\"Ripping\")) return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":1300,"wires":[["e8e0d648.917648","1d51b8b8.4e53c7"]]},{"id":"bc2cef5b.2ad67","type":"link out","z":"de2e7d82.09ec7","name":"OnPlay","links":["c246219e.2734d"],"x":295,"y":500,"wires":[]},{"id":"c246219e.2734d","type":"link in","z":"de2e7d82.09ec7","name":"","links":["bc2cef5b.2ad67","e870755f.2cad98","dcd1ee4a.1f3f8"],"x":735,"y":1560,"wires":[["55231dcc.d172b4"]]},{"id":"d68c3e8.d265ec","type":"function","z":"8a1b44a4.396538","name":"create glyrc cmd ","func":"var artist = flow.get(\"Artist\");\nvar album = flow.get(\"Album\");\n\nmsg.payload = 'cd /home/pi/image/cover/found; glyrc cover --artist \"' + artist + '\" --album \"' + album + '\"';\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":420,"wires":[["6e6f2ef9.71e91"]]},{"id":"6e6f2ef9.71e91","type":"exec","z":"8a1b44a4.396538","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"glyrc","x":310,"y":400,"wires":[[],[],["ec4879f7.041a38"]]},{"id":"4e2e7478.e6b90c","type":"ui_text_input","z":"8a1b44a4.396538","name":"","label":"Artist","tooltip":"","group":"297a1d3f.694472","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Artist","x":90,"y":40,"wires":[["6431ffff.28da6"]]},{"id":"b3f5e3d4.2804d","type":"ui_text_input","z":"8a1b44a4.396538","name":"","label":"Album","tooltip":"","group":"297a1d3f.694472","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Album","x":90,"y":80,"wires":[["940456d6.ecd428"]]},{"id":"cc601c6d.0a6e7","type":"ui_button","z":"8a1b44a4.396538","name":"","group":"297a1d3f.694472","order":3,"width":0,"height":0,"passthru":true,"label":"Find CD cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":200,"wires":[["d9b34e11.78336"]]},{"id":"6431ffff.28da6","type":"function","z":"8a1b44a4.396538","name":"Store in Artist","func":"flow.set(\"Artist\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":40,"wires":[[]]},{"id":"940456d6.ecd428","type":"function","z":"8a1b44a4.396538","name":"Store in Album","func":"flow.set(\"Album\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[[]]},{"id":"cfbd5fde.8d4bc","type":"ui_button","z":"8a1b44a4.396538","name":"","group":"297a1d3f.694472","order":3,"width":0,"height":0,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":140,"wires":[["5c7f3baa.008fe4"]]},{"id":"bde9bdb1.8a748","type":"exec","z":"8a1b44a4.396538","command":"pkill glyrc","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Kill glyrc","x":500,"y":140,"wires":[[],[],["b46d3895.95ed28"]]},{"id":"efff34d6.4a5f78","type":"ui_text","z":"8a1b44a4.396538","group":"297a1d3f.694472","order":4,"width":"4","height":"2","name":"Output","label":"","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":400,"wires":[]},{"id":"c1a1db37.c2cb58","type":"delay","z":"8a1b44a4.396538","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":320,"wires":[["cd32aeb6.48129"]]},{"id":"b6f6469b.cf7f48","type":"function","z":"8a1b44a4.396538","name":"Working...","func":"flow.set(\"Canceled\", false);\nflow.set(\"Started\", 65);\nmsg.payload = \"Working...\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["efff34d6.4a5f78","be3ed8c1.c89e38"]]},{"id":"b46d3895.95ed28","type":"function","z":"8a1b44a4.396538","name":"Canceled","func":"flow.set(\"Canceled\", true);\nmsg.payload = \"Canceled\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["efff34d6.4a5f78","2afa70c9.5fb0d","dcd1ee4a.1f3f8"]]},{"id":"cd32aeb6.48129","type":"exec","z":"8a1b44a4.396538","command":"mkdir -p /home/pi/image/cover/found; rm -f /home/pi/image/cover/found/*","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Create empty folder","x":350,"y":320,"wires":[[],[],["d68c3e8.d265ec"]]},{"id":"9ccc5db.5986aa","type":"inject","z":"8a1b44a4.396538","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":530,"y":520,"wires":[["8f6e85d6.7d88d8"]]},{"id":"4dee99bb.a38ea8","type":"function","z":"8a1b44a4.396538","name":"Create template","func":"if (msg.payload === \"/cover/found/\") {\n    msg.payload = \"\";\n    msg.template = \"\";\n    return msg;\n}\n\nmsg.template = '<img ng-src=\"' + msg.payload + '\" />';\nmsg.payload = \"\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.template});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":700,"wires":[["ae1ea8b4.556698"]]},{"id":"ae1ea8b4.556698","type":"ui_template","z":"8a1b44a4.396538","group":"297a1d3f.694472","name":"Cover image","order":13,"width":"6","height":"6","format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":620,"wires":[[]]},{"id":"ec4879f7.041a38","type":"exec","z":"8a1b44a4.396538","command":"ls /home/pi/image/cover/found/*.png","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":680,"wires":[["7a47f4fc.ff930c","d77172ee.4b5f5"],[],["1e29145.3f5afec"]]},{"id":"7a47f4fc.ff930c","type":"function","z":"8a1b44a4.396538","name":"get cover file path","func":"var path = msg.payload;\n\npath = path.slice(0, -1); // remove return char\n\nvar items = path.split(\"/\");\nmsg.payload = \"/cover/found/\" + items[items.length-1];\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":700,"wires":[["4dee99bb.a38ea8"]]},{"id":"8f6e85d6.7d88d8","type":"function","z":"8a1b44a4.396538","name":"Clear","func":"msg.template = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":520,"wires":[["ae1ea8b4.556698"]]},{"id":"f0a4f6bc.0cb1f8","type":"ui_gauge","z":"8a1b44a4.396538","name":"","group":"297a1d3f.694472","order":6,"width":"2","height":"2","gtype":"gage","title":"","label":"sec","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":80,"wires":[]},{"id":"901c6d1f.d19ee","type":"inject","z":"8a1b44a4.396538","name":"Every 3s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":60,"wires":[["be3ed8c1.c89e38"]]},{"id":"be3ed8c1.c89e38","type":"function","z":"8a1b44a4.396538","name":"decrement","func":"var starttime = flow.get(\"Started\");\n if (starttime < 0) return;\n \nstarttime -= 3;\nflow.set(\"Started\", starttime);\n\nif (starttime < 0) {\n    flow.set(\"Started\", 0);\n    starttime = 0;\n}\n\nmsg.payload = starttime;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":60,"wires":[["f0a4f6bc.0cb1f8"]]},{"id":"80ac6d51.6a698","type":"inject","z":"8a1b44a4.396538","name":"Init 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":100,"wires":[["2afa70c9.5fb0d"]]},{"id":"2afa70c9.5fb0d","type":"function","z":"8a1b44a4.396538","name":"Clear Starttime","func":"flow.set(\"Started\", 0);\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":120,"wires":[["f0a4f6bc.0cb1f8"]]},{"id":"d77172ee.4b5f5","type":"function","z":"8a1b44a4.396538","name":"short name or Not Found","func":"if (flow.get(\"Canceled\")) return;\n\nvar path = msg.payload;\n\nvar items = path.split(\"/\");\nmsg.payload = items[items.length-1];\n\nif (msg.payload === \"\") msg.payload = \"Not found\";\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":640,"wires":[["efff34d6.4a5f78","2afa70c9.5fb0d"]]},{"id":"dcd1ee4a.1f3f8","type":"link out","z":"8a1b44a4.396538","name":"Find","links":["c246219e.2734d","2effc8cf.131628"],"x":875,"y":180,"wires":[]},{"id":"5c7f3baa.008fe4","type":"function","z":"8a1b44a4.396538","name":"is Started","func":"var starttime = flow.get(\"Started\");\n if (starttime > 0) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["bde9bdb1.8a748"]]},{"id":"d9b34e11.78336","type":"function","z":"8a1b44a4.396538","name":"Check inputs","func":"var artist = flow.get(\"Artist\").trim();\nif (artist === \"\") {\n    msg.payload = \"Missing artist\"\n    return [msg, null];\n}\n\nvar album = flow.get(\"Album\").trim();\nif (album === \"\") {\n    msg.payload = \"Missing album\"\n    return [msg, null];\n}\n\nreturn [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[["efff34d6.4a5f78"],["b6f6469b.cf7f48","c1a1db37.c2cb58","8f6e85d6.7d88d8"]],"outputLabels":["error","OK"]},{"id":"a29f9f92.0c059","type":"function","z":"de2e7d82.09ec7","name":"set Canceled=false","func":"flow.set(\"Canceled\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":1240,"wires":[[]]},{"id":"cc6f7671.13a188","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"1. Pickup _________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"0","payloadType":"str","topic":"","x":440,"y":40,"wires":[["ec654991.940f68"]]},{"id":"36635b.a28b6ca6","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"2. TV        _____________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"str","topic":"","x":440,"y":80,"wires":[["ec654991.940f68"]]},{"id":"a29ef787.9e6f58","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"3. AUX   ___________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"2","payloadType":"str","topic":"","x":440,"y":120,"wires":[["ec654991.940f68"]]},{"id":"cf3054db.61f298","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"4. AUX   ___________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"3","payloadType":"str","topic":"","x":440,"y":160,"wires":[["ec654991.940f68"]]},{"id":"ca6e674f.b77778","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"5. AUX   ___________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"4","payloadType":"str","topic":"","x":440,"y":200,"wires":[["ec654991.940f68"]]},{"id":"15f4dc22.3fe574","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"6. AUX   ___________","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"5","payloadType":"str","topic":"","x":440,"y":240,"wires":[["ec654991.940f68"]]},{"id":"790df94d.b54dd8","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"7. Streamer / CD","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"6","payloadType":"str","topic":"","x":430,"y":280,"wires":[["ec654991.940f68"]]},{"id":"c899ef48.f95e9","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"9411d95e.6c7fd8","order":0,"width":"0","height":"0","passthru":false,"label":"8. Bluetooth   ___","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"7","payloadType":"str","topic":"","x":420,"y":320,"wires":[["ec654991.940f68"]]},{"id":"50f51dc3.71b154","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"edccfb9a.afd708","order":1,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":210,"y":720,"wires":[["4c4cbcc7.2fcb44"]]},{"id":"a0f7d871.95d5d8","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"edccfb9a.afd708","order":2,"width":"2","height":"1","passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":220,"y":760,"wires":[["33875022.90b22"]]},{"id":"1b8d95d8.02c2fa","type":"ui_button","z":"4f0c2520.575a9c","name":"","group":"edccfb9a.afd708","order":3,"width":"2","height":"1","passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":210,"y":800,"wires":[["16d0686f.a76f18"]]},{"id":"d7d28ff8.f76ba","type":"inject","z":"9c0eb5d6.022818","name":"Every minute","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["a37b37d1.aad508"]]},{"id":"a37b37d1.aad508","type":"exec","z":"9c0eb5d6.022818","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"measure CPU temperature","x":380,"y":360,"wires":[["ecc06f5.bc3d39"],[],[]]},{"id":"ecc06f5.bc3d39","type":"function","z":"9c0eb5d6.022818","name":"Get value","func":"str = msg.payload\nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["7e819c2f.de67d4"]]},{"id":"cfd534c4.f4d138","type":"exec","z":"9c0eb5d6.022818","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute shutdown","x":410,"y":80,"wires":[[],[],[]]},{"id":"ec82005b.4a23a","type":"exec","z":"9c0eb5d6.022818","command":"sudo reboot -f","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute restart","x":400,"y":160,"wires":[[],[],[]]},{"id":"bfd6e739.43ad78","type":"ui_button","z":"9c0eb5d6.022818","name":"Button: Shutdown","group":"190cb094.9f2a9f","order":1,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":80,"wires":[["cfd534c4.f4d138"]]},{"id":"d6f93b0b.84f298","type":"ui_button","z":"9c0eb5d6.022818","name":"Button: Restart","group":"190cb094.9f2a9f","order":2,"width":0,"height":0,"passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[["ec82005b.4a23a"]]},{"id":"7e819c2f.de67d4","type":"ui_chart","z":"9c0eb5d6.022818","name":"Chart T CPU","group":"190cb094.9f2a9f","order":3,"width":0,"height":0,"label":"Temperature CPU in degrees","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":360,"wires":[[]]},{"id":"bb67c026.82fe8","type":"inject","z":"9c0eb5d6.022818","name":"Every 10 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["f6027467.d292e8"]]},{"id":"f6027467.d292e8","type":"exec","z":"9c0eb5d6.022818","command":"df","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":460,"wires":[["72e1967f.9527c8"],[],[]]},{"id":"72e1967f.9527c8","type":"function","z":"9c0eb5d6.022818","name":"split usage","func":"var output = msg.payload.split(\"\\n\");\nvar internal;\nvar usb1 = \"n.a.\";\nvar usb2 = \"n.a.\";\n\nfor (let i = 0; i < output.length; ++i) {\n    var words = output[i].split(/[ ]+/);\n    if (words[0].includes(\"/dev/root\")) internal = words[4];\n    if (words[0].includes(\"/dev/sda1\")) usb1 =  words[4];\n    if (words[0].includes(\"/dev/sdb1\")) usb2 =  words[4];\n}\nreturn [  { payload: internal },   { payload: usb1 },  { payload: usb2 }]\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":550,"y":460,"wires":[["6db2c1d3.35108"],["6bdc62e9.b2997c"],["4839329d.66ebdc"]]},{"id":"6db2c1d3.35108","type":"ui_text","z":"9c0eb5d6.022818","group":"190cb094.9f2a9f","order":4,"width":"0","height":"0","name":"","label":"System disk usage: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":420,"wires":[]},{"id":"6bdc62e9.b2997c","type":"ui_text","z":"9c0eb5d6.022818","group":"190cb094.9f2a9f","order":5,"width":"0","height":"0","name":"","label":"USB 1 disk usage: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"4839329d.66ebdc","type":"ui_text","z":"9c0eb5d6.022818","group":"190cb094.9f2a9f","order":6,"width":"0","height":"0","name":"","label":"USB 2 disk usage: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":500,"wires":[]},{"id":"7542c406.aa634c","type":"inject","z":"f26105ec.115a48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["9d1d2e11.8b2e5"]]},{"id":"9d1d2e11.8b2e5","type":"exec","z":"f26105ec.115a48","command":"ls /media/usbdisk/Music/Ripped","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":100,"wires":[["1d525a29.1aa226"],[],[]]},{"id":"94548af8.81d538","type":"ui_dropdown","z":"f26105ec.115a48","name":"","label":"","tooltip":"","place":"Select folder name","group":"9686a91c.8c6eb8","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":240,"y":260,"wires":[["6beed83e.9a9fb8","f59a2fea.797e2","d267c298.548cd"]]},{"id":"1d525a29.1aa226","type":"function","z":"f26105ec.115a48","name":"Create options","func":"var files = msg.payload.split(\"\\n\");\nfiles.pop();\nvar unknown = [];\nfor (let i = 0; i < files.length; ++i) {\n    if (!files[i].startsWith(\"abcde\")) unknown.push(files[i]);\n}\nmsg.payload = \"\"\nmsg.options = unknown;\nflow.set(\"options\", msg.options);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["94548af8.81d538"]]},{"id":"d5c4e4b9.af1ce8","type":"ui_text","z":"f26105ec.115a48","group":"9686a91c.8c6eb8","order":4,"width":0,"height":0,"name":"","label":"Enter new folder name:","format":"","layout":"row-left","x":290,"y":360,"wires":[]},{"id":"5789f73e.e6d1a8","type":"ui_button","z":"f26105ec.115a48","name":"","group":"9686a91c.8c6eb8","order":1,"width":0,"height":0,"passthru":false,"label":"Get ripped CD's","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":160,"wires":[["9d1d2e11.8b2e5","65a4de85.4c9b9"]]},{"id":"abf09c53.cfad2","type":"ui_text_input","z":"f26105ec.115a48","name":"","label":"","tooltip":"","group":"9686a91c.8c6eb8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":340,"y":500,"wires":[["ec2e5b25.afc298"]]},{"id":"79b13b0c.16aba4","type":"ui_button","z":"f26105ec.115a48","name":"","group":"9686a91c.8c6eb8","order":6,"width":0,"height":0,"passthru":false,"label":"Rename","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":620,"wires":[["6033e24a.0afa4c"]]},{"id":"d64b9008.3e714","type":"exec","z":"f26105ec.115a48","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":580,"wires":[["9d1d2e11.8b2e5","af521c57.d64b5","ebfe31b6.32341"],[],[]]},{"id":"a8a80c0e.fd397","type":"function","z":"f26105ec.115a48","name":"set oldname","func":"flow.set(\"oldname\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[[]]},{"id":"ec2e5b25.afc298","type":"function","z":"f26105ec.115a48","name":"set newname","func":"flow.set(\"newname\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":500,"wires":[[]]},{"id":"6033e24a.0afa4c","type":"function","z":"f26105ec.115a48","name":"create rename command","func":"var oldname = flow.get(\"oldname\");\nif (oldname === \"\") return;\n\nvar newname = flow.get(\"newname\");\nif (newname === \"\") {\n    msg.payload = \"No new folder name specified\";\n    return [null, msg];\n}\n\nif (flow.get(\"options\").includes(newname)) {\n    msg.payload = \"This name already exists\";\n    return [null, msg];\n}\nmsg.payload = \"mv \" + \"'/media/usbdisk/Music/Ripped/\" + oldname + \"' '/media/usbdisk/Music/Ripped/\" + newname + \"'\";\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["d64b9008.3e714"],["e4a372d1.9877e"]]},{"id":"e4a372d1.9877e","type":"ui_text","z":"f26105ec.115a48","group":"9686a91c.8c6eb8","order":7,"width":0,"height":0,"name":"text renamed","label":"","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":580,"wires":[]},{"id":"af521c57.d64b5","type":"function","z":"f26105ec.115a48","name":"clear","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":500,"wires":[["abf09c53.cfad2"]]},{"id":"1faedea9.9f7d11","type":"ui_text","z":"f26105ec.115a48","group":"9686a91c.8c6eb8","order":3,"width":0,"height":0,"name":"empty","label":"","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":320,"wires":[]},{"id":"6b437bb8.147ee4","type":"function","z":"f26105ec.115a48","name":"clear","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":460,"wires":[["e4a372d1.9877e","989d566e.fd1a08"]]},{"id":"6beed83e.9a9fb8","type":"function","z":"f26105ec.115a48","name":"check oldname","func":"var oldname = flow.get(\"oldname\");\nif (oldname === \"\" && msg.payload !== \"\") return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["6b437bb8.147ee4"]]},{"id":"f59a2fea.797e2","type":"delay","z":"f26105ec.115a48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":260,"wires":[["a8a80c0e.fd397"]]},{"id":"d267c298.548cd","type":"function","z":"f26105ec.115a48","name":"ignore unknown","func":"if (msg.payload.startsWith(\"Unknown\")) return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["abf09c53.cfad2"]]},{"id":"65a4de85.4c9b9","type":"function","z":"f26105ec.115a48","name":"working...","func":"msg.payload = \"working...\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["e4a372d1.9877e","1d9d3f55.9f5421"]]},{"id":"1d9d3f55.9f5421","type":"delay","z":"f26105ec.115a48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":180,"wires":[["6b437bb8.147ee4"]]},{"id":"5e6d104d.4b2df","type":"ui_button","z":"f26105ec.115a48","name":"","group":"9686a91c.8c6eb8","order":8,"width":0,"height":0,"passthru":false,"label":"Remove folder","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":680,"wires":[["5632a42c.2f230c"]]},{"id":"5632a42c.2f230c","type":"function","z":"f26105ec.115a48","name":"create rename command","func":"var oldname = flow.get(\"oldname\");\nif (oldname === \"\") return;\n\nmsg.payload = \"rm -fr \" + \"'/media/usbdisk/Music/Ripped/\" + oldname + \"'\";\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":510,"y":680,"wires":[["66c394dd.d1856c"],[]]},{"id":"66c394dd.d1856c","type":"exec","z":"f26105ec.115a48","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":660,"wires":[["9d1d2e11.8b2e5","4429eb92.e3e6c4"],[],[]]},{"id":"ebfe31b6.32341","type":"function","z":"f26105ec.115a48","name":"Create result","func":"var oldname = flow.get(\"oldname\");\nvar newname = flow.get(\"newname\");\n\nmsg.payload = \"'\" + oldname + \"' renamed to '\" + newname + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":540,"wires":[["e4a372d1.9877e"]]},{"id":"4429eb92.e3e6c4","type":"function","z":"f26105ec.115a48","name":"Create result","func":"var oldname = flow.get(\"oldname\");\n\nmsg.payload = \"'\" + oldname + \"' removed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":640,"wires":[["989d566e.fd1a08"]]},{"id":"989d566e.fd1a08","type":"ui_text","z":"f26105ec.115a48","group":"9686a91c.8c6eb8","order":9,"width":0,"height":0,"name":"text removed","label":"","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":640,"wires":[]},{"id":"1e29145.3f5afec","type":"function","z":"8a1b44a4.396538","name":"create cmd for copy png","func":"if (msg.payload.code !== 0) return;\n\nmsg.payload = \"cd /home/pi/image/cover/found; cp -f *.png /media/usbdisk/Music/Ripped\";\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":780,"wires":[["ca67ee6.8b00f1"]]},{"id":"ca67ee6.8b00f1","type":"exec","z":"8a1b44a4.396538","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":760,"wires":[[],[],[]]},{"id":"b6381775.a9b9d8","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 1 (pickup)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"1","format":"{{value}}","min":0,"max":"31","step":1,"x":350,"y":100,"wires":[["2514e1c0.c0a53e"]]},{"id":"e5f5dd9d.cfe2e","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 2 (TV)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"2","format":"{{value}}","min":0,"max":"31","step":1,"x":340,"y":160,"wires":[["17411efd.20f311"]]},{"id":"f4e6e024.43cce","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 3","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"3","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":220,"wires":[["2075ab66.66d584"]]},{"id":"9c217340.bd098","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 4","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"4","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":280,"wires":[["ace58021.2da3f"]]},{"id":"de0793ae.f0bd5","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 5","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"5","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":340,"wires":[["80003b84.5f3bf8"]]},{"id":"565df629.a011c8","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 6","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"6","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":400,"wires":[["e3809c5c.ebbfd"]]},{"id":"30249bb3.df7f24","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 7 (streamer/CD)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"7","format":"{{value}}","min":0,"max":"31","step":1,"x":370,"y":460,"wires":[["53193261.e02f4c"]]},{"id":"50e9b1a3.e7b5a","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 8 (Bluetooth)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"8","format":"{{value}}","min":0,"max":"31","step":1,"x":360,"y":520,"wires":[["212c8d24.49c9f2"]]},{"id":"2514e1c0.c0a53e","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["b3a5eaf4.502e98"]]},{"id":"17411efd.20f311","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["b3a5eaf4.502e98"]]},{"id":"c866d75.00e0928","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume1","payloadType":"flow","x":140,"y":100,"wires":[["b6381775.a9b9d8"]]},{"id":"9b50cffd.8df2a","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume2","payloadType":"flow","x":140,"y":160,"wires":[["e5f5dd9d.cfe2e"]]},{"id":"28971fa3.ccea2","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume3","payloadType":"flow","x":140,"y":220,"wires":[["f4e6e024.43cce"]]},{"id":"818b4acd.650788","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume4","payloadType":"flow","x":140,"y":280,"wires":[["9c217340.bd098"]]},{"id":"2075ab66.66d584","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["b3a5eaf4.502e98"]]},{"id":"ace58021.2da3f","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["b3a5eaf4.502e98"]]},{"id":"f190cae1.41cf98","type":"function","z":"808d92ca.2432c","name":"create command","func":"var volumes = \n    flow.get(\"ChannelVolume1\") + \" \" +\n    flow.get(\"ChannelVolume2\") + \" \" +\n    flow.get(\"ChannelVolume3\") + \" \" +\n    flow.get(\"ChannelVolume4\") + \" \" +\n    flow.get(\"ChannelVolume5\") + \" \" +\n    flow.get(\"ChannelVolume6\") + \" \" +\n    flow.get(\"ChannelVolume7\") + \" \" +\n    flow.get(\"ChannelVolume8\");\nmsg.payload = \"cd /opt/cdcontrol; python setchannelvolume.py \" + volumes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":220,"wires":[["d984cecb.cc2b4"]]},{"id":"d984cecb.cc2b4","type":"exec","z":"808d92ca.2432c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1330,"y":220,"wires":[[],[],[]]},{"id":"80003b84.5f3bf8","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["b3a5eaf4.502e98"]]},{"id":"e3809c5c.ebbfd","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":400,"wires":[["b3a5eaf4.502e98"]]},{"id":"53193261.e02f4c","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume7","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["b3a5eaf4.502e98"]]},{"id":"212c8d24.49c9f2","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume8","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":520,"wires":[["b3a5eaf4.502e98"]]},{"id":"3cb51f3b.f9d24","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume5","payloadType":"flow","x":140,"y":340,"wires":[["de0793ae.f0bd5"]]},{"id":"5c49083c.218a78","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume6","payloadType":"flow","x":140,"y":400,"wires":[["565df629.a011c8"]]},{"id":"463cb64e.3ae588","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume7","payloadType":"flow","x":140,"y":460,"wires":[["30249bb3.df7f24"]]},{"id":"149e8a1e.c1d3f6","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"ChannelVolume8","payloadType":"flow","x":140,"y":520,"wires":[["50e9b1a3.e7b5a"]]},{"id":"c65e236d.98c35","type":"inject","z":"808d92ca.2432c","name":"At startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["5a24754e.002cdc"]]},{"id":"5a24754e.002cdc","type":"function","z":"808d92ca.2432c","name":"init ChannelVolume flow variables","func":"for (i = 1; i < 9; i++) {\n    var s = \"ChannelVolume\" + i;\n    msg.payload = s;\n    var volume = flow.get(s);\n    if (volume === undefined) {\n        flow.set(s, 10);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[[]]},{"id":"52ca9320.63d2ac","type":"ui_button","z":"4adf153.a1923ec","name":"","group":"7413ebbd.d2e414","order":1,"width":"3","height":"1","passthru":false,"label":"A","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"0","payloadType":"str","topic":"","x":450,"y":60,"wires":[["91618323.a3e87"]]},{"id":"482c2475.90e5ec","type":"ui_button","z":"4adf153.a1923ec","name":"","group":"7413ebbd.d2e414","order":1,"width":"3","height":"1","passthru":false,"label":"B","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"str","topic":"","x":450,"y":100,"wires":[["91618323.a3e87"]]},{"id":"4be73d16.42aef4","type":"ui_numeric","z":"4adf153.a1923ec","name":"level A","label":"","tooltip":"","group":"7413ebbd.d2e414","order":2,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"31","step":1,"x":450,"y":280,"wires":[["212a8c15.c3d804"]]},{"id":"4209e34d.e87dcc","type":"ui_numeric","z":"4adf153.a1923ec","name":"level B","label":"","tooltip":"","group":"7413ebbd.d2e414","order":2,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"31","step":1,"x":450,"y":340,"wires":[["8fcf5696.3a8b18"]]},{"id":"212a8c15.c3d804","type":"change","z":"4adf153.a1923ec","name":"","rules":[{"t":"set","p":"ChannelVolume1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["48dc6a06.cde704"]]},{"id":"8fcf5696.3a8b18","type":"change","z":"4adf153.a1923ec","name":"","rules":[{"t":"set","p":"ChannelVolume2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["48dc6a06.cde704"]]},{"id":"36bc7c8e.6a5444","type":"inject","z":"4adf153.a1923ec","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":220,"wires":[["3eec67f0.61d268"]]},{"id":"3eec67f0.61d268","type":"function","z":"4adf153.a1923ec","name":"init flow variables","func":"for (i = 1; i < 3; i++) {\n    var s = \"ChannelVolume\" + i;\n    msg.payload = s;\n    var volume = flow.get(s);\n    if (volume === undefined) {\n        flow.set(s, 31);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":220,"wires":[[]]},{"id":"4dfd50da.c187c","type":"inject","z":"4adf153.a1923ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume1","payloadType":"flow","x":140,"y":280,"wires":[["4be73d16.42aef4"]]},{"id":"eaf25cf0.47e8f","type":"inject","z":"4adf153.a1923ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume2","payloadType":"flow","x":140,"y":340,"wires":[["4209e34d.e87dcc"]]},{"id":"b3a5eaf4.502e98","type":"trigger","z":"808d92ca.2432c","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":300,"wires":[["c5688ae7.b37bb8"]]},{"id":"1991185d.3110d8","type":"i2c out","z":"4adf153.a1923ec","name":"i2c execute","busno":"1","address":"4","command":"30","payload":"payload","payloadType":"msg","count":"1","x":1130,"y":180,"wires":[[]]},{"id":"48dc6a06.cde704","type":"function","z":"4adf153.a1923ec","name":"create command","func":"var volumes = \n    flow.get(\"ChannelVolume1\") + \",\" +\n    flow.get(\"ChannelVolume2\");\n// Set Output Volume\nmsg.payload = \"=SOV=\" + volumes + \"=\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":300,"wires":[["1991185d.3110d8"]]},{"id":"44b7d207.7b331c","type":"function","z":"4adf153.a1923ec","name":"create command","func":"var channel = msg.payload;\nmsg.payload = \"=OUTPUT=\" + channel + \"=\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":80,"wires":[["1991185d.3110d8"]]},{"id":"a4fc2526.e40508","type":"i2c out","z":"808d92ca.2432c","name":"i2c Initial ChannelVolumes","busno":"1","address":"4","command":"30","payload":"payload","payloadType":"msg","count":"1","x":1400,"y":300,"wires":[[]]},{"id":"c5688ae7.b37bb8","type":"function","z":"808d92ca.2432c","name":"create command","func":"var volumes = \n    flow.get(\"ChannelVolume1\") + \",\" +\n    flow.get(\"ChannelVolume2\") + \",\" +\n    flow.get(\"ChannelVolume3\") + \",\" +\n    flow.get(\"ChannelVolume4\") + \",\" +\n    flow.get(\"ChannelVolume5\") + \",\" +\n    flow.get(\"ChannelVolume6\") + \",\" +\n    flow.get(\"ChannelVolume7\") + \",\" +\n    flow.get(\"ChannelVolume8\");\nmsg.payload = \"=SCV=\" + volumes + \"=\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":300,"wires":[["a4fc2526.e40508"]]},{"id":"72ba351e.3a070c","type":"i2c out","z":"4f0c2520.575a9c","name":"i2c select channel","busno":"1","address":"4","command":"30","payload":"payload","payloadType":"msg","count":"1","x":950,"y":240,"wires":[["7e257aa1.cab044","7eff600d.aaaab"]]},{"id":"f5647145.2221d","type":"function","z":"4f0c2520.575a9c","name":"Create command","func":"var channel = msg.payload;\nmsg.payload = \"=SetChannel=\" + channel + \"=\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":240,"wires":[["72ba351e.3a070c"]]},{"id":"f1996a31.a95208","type":"i2c out","z":"4f0c2520.575a9c","name":"i2c set volume","busno":"1","address":"4","command":"30","payload":"payload","payloadType":"msg","count":"1","x":820,"y":740,"wires":[["65e71d80.864c04"]]},{"id":"725bd637.3e0b48","type":"function","z":"4f0c2520.575a9c","name":"Create command","func":"node.status({fill:\"blue\", shape:\"ring\", text: msg.payload});\n\nmsg.payload = \"=SetVolume=\" + msg.payload + \"=\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":740,"wires":[["f1996a31.a95208","1f11116.a4e6bef"]]},{"id":"8622dc3.54a272","type":"inject","z":"4adf153.a1923ec","name":"Init 3s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"str","x":90,"y":80,"wires":[["24631c51.aff2e4"]]},{"id":"91618323.a3e87","type":"change","z":"4adf153.a1923ec","name":"","rules":[{"t":"set","p":"outputchannel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[["44b7d207.7b331c","24631c51.aff2e4"]]},{"id":"ec654991.940f68","type":"change","z":"4f0c2520.575a9c","name":"","rules":[{"t":"set","p":"inputchannel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["f5647145.2221d"]]},{"id":"d239a129.bc399","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 1 (pickup)","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":660,"wires":[["a1df70b1.ca1c5"]]},{"id":"a62768eb.54bbf8","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 2 (TV)","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":720,"wires":[["a1df70b1.ca1c5"]]},{"id":"37d7bd12.e3b482","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 3","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":780,"wires":[["a1df70b1.ca1c5"]]},{"id":"2241dcd6.120654","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 4","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"8","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":840,"wires":[["a1df70b1.ca1c5"]]},{"id":"aac8ab20.c4d358","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 5","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"16","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":900,"wires":[["a1df70b1.ca1c5"]]},{"id":"2a941463.5db8ec","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 6","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"32","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":960,"wires":[["a1df70b1.ca1c5"]]},{"id":"6172ca9d.db9d94","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 7 (streamer/CD)","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"64","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":1020,"wires":[["a1df70b1.ca1c5"]]},{"id":"bf7a344f.737908","type":"ui_switch","z":"808d92ca.2432c","name":"","label":"Channel 8 (Bluetooth)","tooltip":"","group":"5cedda2e.d60ef4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"128","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":1080,"wires":[["a1df70b1.ca1c5"]]},{"id":"2efdc5ba.90e02a","type":"i2c out","z":"808d92ca.2432c","name":"i2c InfraRed","busno":"1","address":"4","command":"30","payload":"payload","payloadType":"msg","count":"1","x":1390,"y":900,"wires":[[]]},{"id":"e685bc9c.cc4e8","type":"function","z":"808d92ca.2432c","name":"create command","func":"var globalByte = global.get(\"InfraRedEnabledForChannel\");\nvar flowByte = flow.get(\"InfraRedEnabledForChannel\");\n\nif (flowByte != globalByte) {\n    global.set(\"InfraRedEnabledForChannel\", flowByte);\n    msg.payload = \"=IREFC=\" + flowByte + \"=\"; // Infra Red EnabledForChannel\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":900,"wires":[["888ca29e.f88e4","2efdc5ba.90e02a"]]},{"id":"7f38fd76.a71c94","type":"function","z":"808d92ca.2432c","name":"IR enabled","func":"var byte = global.get(\"InfraRedEnabledForChannel\");\nnode.status({fill:\"blue\", shape:\"ring\", text: byte });\nvar ch1 = byte &   1 ? true : false;\nvar ch2 = byte &   2 ? true : false;\nvar ch3 = byte &   4 ? true : false;\nvar ch4 = byte &   8 ? true : false;\nvar ch5 = byte &  16 ? true : false;\nvar ch6 = byte &  32 ? true : false;\nvar ch7 = byte &  64 ? true : false;\nvar ch8 = byte & 128 ? true : false;\n\nreturn [\n    {payload: ch1},\n    {payload: ch2},\n    {payload: ch3},\n    {payload: ch4},\n    {payload: ch5},\n    {payload: ch6},\n    {payload: ch7},\n    {payload: ch8}\n];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":110,"y":840,"wires":[["d239a129.bc399"],["a62768eb.54bbf8"],["37d7bd12.e3b482"],["2241dcd6.120654"],["aac8ab20.c4d358"],["2a941463.5db8ec"],["6172ca9d.db9d94"],["bf7a344f.737908"]]},{"id":"98748502.06d7f8","type":"inject","z":"808d92ca.2432c","name":"At startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":660,"wires":[["7f38fd76.a71c94"]]},{"id":"888ca29e.f88e4","type":"debug","z":"808d92ca.2432c","name":"IREFC command","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":980,"wires":[]},{"id":"a1df70b1.ca1c5","type":"function","z":"808d92ca.2432c","name":"Update flow IRcommandsEnabled (byte)","func":"var byte = flow.get(\"InfraRedEnabledForChannel\");\nif (msg.payload) {\n    byte |= msg.topic;\n}\nelse {\n    byte = byte & ~msg.topic;\n}\nflow.set(\"InfraRedEnabledForChannel\", byte);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":900,"wires":[["2903314.5940bce"]]},{"id":"2903314.5940bce","type":"trigger","z":"808d92ca.2432c","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1020,"y":900,"wires":[["e685bc9c.cc4e8"]]},{"id":"f13f039b.9fad6","type":"ui_template","z":"4f0c2520.575a9c","d":true,"group":"edccfb9a.afd708","name":"jQueryKnob","order":4,"width":"3","height":"3","format":"<script src=\"/jQueryKnob/jquery.knob.min.js\"></script>\n\n\n<script>\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n     \n</script>\n\n\n<input  id=\"jqueryknob{{$id}}\"\n        data-width=\"100%\" \n        data-height=\"100%\"\n        data-min=\"0\"\n        data-max=\"31\"\n        value=\"{{msg.payload ?  msg.payload : 0}}\"\n        data-angleOffset=-135\n        data-angleArc=270\n>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":230,"y":840,"wires":[[]]},{"id":"65e71d80.864c04","type":"change","z":"4f0c2520.575a9c","name":"get global.Volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"Volume","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":580,"wires":[["73580df0.f95fa4"]]},{"id":"73580df0.f95fa4","type":"ui_slider","z":"4f0c2520.575a9c","name":"","label":"","tooltip":"","group":"edccfb9a.afd708","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"31","step":1,"x":210,"y":660,"wires":[["8d7e92d4.3adac"]]},{"id":"4c4cbcc7.2fcb44","type":"function","z":"4f0c2520.575a9c","name":"Volume=0","func":"var v = global.get(\"Volume\");\nv = 0;\nglobal.set(\"Volume\", v)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":720,"wires":[["725bd637.3e0b48"]]},{"id":"33875022.90b22","type":"function","z":"4f0c2520.575a9c","name":"Volume--","func":"var v = global.get(\"Volume\");\nif (v !== 0) v = v - 1;\nglobal.set(\"Volume\", v)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["725bd637.3e0b48"]]},{"id":"16d0686f.a76f18","type":"function","z":"4f0c2520.575a9c","name":"Volume++","func":"var v = global.get(\"Volume\");\nif (v != 31) v = v + 1;\nglobal.set(\"Volume\", v)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":800,"wires":[["725bd637.3e0b48"]]},{"id":"8d7e92d4.3adac","type":"function","z":"4f0c2520.575a9c","name":"Volume=slider","func":"var v = global.get(\"Volume\");\nnode.status({fill:\"blue\", shape:\"ring\", text: \"global=\" + v + \"; slider=\" + msg.payload});\nif (v == msg.payload) return null;\nglobal.set(\"Volume\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["725bd637.3e0b48","6059a458.fcef2c"]]},{"id":"52e14469.65522c","type":"i2c scan","z":"4f0c2520.575a9c","name":"i2c scan","busno":"1","x":320,"y":920,"wires":[["e3197167.dc1b8"],["2d9f7554.c6d3da"]]},{"id":"e3197167.dc1b8","type":"debug","z":"4f0c2520.575a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":900,"wires":[]},{"id":"2d9f7554.c6d3da","type":"debug","z":"4f0c2520.575a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":940,"wires":[]},{"id":"94590ac8.2c73b8","type":"inject","z":"4f0c2520.575a9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":920,"wires":[["52e14469.65522c"]]},{"id":"26a8395b.9dd626","type":"i2c in","z":"4f0c2520.575a9c","name":"read from i2c","busno":"1","address":"4","command":"7","count":"18","x":310,"y":480,"wires":[["bb0d5d51.c45a2"]]},{"id":"351ade19.0e4a52","type":"inject","z":"4f0c2520.575a9c","name":"manual","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":520,"wires":[["26a8395b.9dd626"]]},{"id":"bb0d5d51.c45a2","type":"function","z":"4f0c2520.575a9c","name":"set all state parameters","func":"var buf = msg.payload.toString();\nnode.status({fill:\"blue\", shape:\"ring\", text: buf});\nvar args = buf.split(\";\");\n\n// TODO add checks?\n\n// expected: \"I=%d;O=%d;R=%d;V=%d;\"\nglobal.set(\"inputchannel\", args[0].split(\"=\")[1]);              // 0..7\nglobal.set(\"outputchannel\", args[1].split(\"=\")[1]);             // 0..1\nglobal.set(\"InfraRedEnabledForChannel\", args[2].split(\"=\")[1]); // byte: 0..1 per channel\nglobal.set(\"Volume\", args[3].split(\"=\")[1]);                    // 0..31\n\nmsg.payload = args;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":480,"wires":[["65e71d80.864c04","3868f03c.f006"]]},{"id":"405ef59d.5204ec","type":"ui_ui_control","z":"4f0c2520.575a9c","name":"On tab changed","events":"all","x":100,"y":480,"wires":[["26a8395b.9dd626"]]},{"id":"3868f03c.f006","type":"function","z":"4f0c2520.575a9c","name":"Select background","func":"var on = { background: \"#005576\" };\nvar off = { background: \"#0094CE\" };\nvar all = [ off, off, off, off, off, off,off, off];\n\nvar channel = global.get(\"inputchannel\");\nnode.status({fill:\"blue\", shape:\"ring\", text: channel});\nall[channel] = on;\n\nreturn all;","outputs":8,"noerr":0,"initialize":"","finalize":"","x":150,"y":180,"wires":[["cc6f7671.13a188"],["36635b.a28b6ca6"],["a29ef787.9e6f58"],["cf3054db.61f298"],["ca6e674f.b77778"],["15f4dc22.3fe574"],["790df94d.b54dd8"],["c899ef48.f95e9"]]},{"id":"24631c51.aff2e4","type":"function","z":"4adf153.a1923ec","name":"Select background","func":"var on = { background: \"#005576\" };\nvar off = { background: \"#0094CE\" };\nvar all = [ off, off];\n\nvar channel = global.get(\"outputchannel\");\nnode.status({fill:\"blue\", shape:\"ring\", text: \"channel: \" + channel});\nall[channel] = on;\n\nreturn all;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":80,"wires":[["52ca9320.63d2ac"],["482c2475.90e5ec"]]},{"id":"7e257aa1.cab044","type":"debug","z":"4f0c2520.575a9c","name":"Select Channel","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":240,"wires":[]},{"id":"7eff600d.aaaab","type":"delay","z":"4f0c2520.575a9c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":380,"wires":[["26a8395b.9dd626"]]},{"id":"1f11116.a4e6bef","type":"debug","z":"4f0c2520.575a9c","name":"volume","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":800,"wires":[]},{"id":"6059a458.fcef2c","type":"debug","z":"4f0c2520.575a9c","name":"slider","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":680,"wires":[]}]