NodeRED/initialoutputlevels.txt
[{"id":"808d92ca.2432c","type":"tab","label":"InitChannelLevels","disabled":false,"info":""},{"id":"b6381775.a9b9d8","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 1 (pickup)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"1","format":"{{value}}","min":0,"max":"31","step":1,"x":350,"y":100,"wires":[["2514e1c0.c0a53e"]]},{"id":"e5f5dd9d.cfe2e","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 2 (TV)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"2","format":"{{value}}","min":0,"max":"31","step":1,"x":340,"y":160,"wires":[["17411efd.20f311"]]},{"id":"f4e6e024.43cce","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 3","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"3","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":220,"wires":[["2075ab66.66d584"]]},{"id":"9c217340.bd098","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 4","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"4","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":280,"wires":[["ace58021.2da3f"]]},{"id":"de0793ae.f0bd5","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 5","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"5","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":340,"wires":[["80003b84.5f3bf8"]]},{"id":"565df629.a011c8","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 6","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"6","format":"{{value}}","min":0,"max":"31","step":1,"x":330,"y":400,"wires":[["e3809c5c.ebbfd"]]},{"id":"30249bb3.df7f24","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 7 (streamer/CD)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"7","format":"{{value}}","min":0,"max":"31","step":1,"x":370,"y":460,"wires":[["53193261.e02f4c"]]},{"id":"50e9b1a3.e7b5a","type":"ui_numeric","z":"808d92ca.2432c","name":"","label":"Channel 8 (Bluetooth)","tooltip":"","group":"ffbbbfa.aa5714","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"8","format":"{{value}}","min":0,"max":"31","step":1,"x":360,"y":520,"wires":[["212c8d24.49c9f2"]]},{"id":"2514e1c0.c0a53e","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["8d856201.86822"]]},{"id":"17411efd.20f311","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["8d856201.86822"]]},{"id":"c866d75.00e0928","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume1","payloadType":"flow","x":140,"y":100,"wires":[["b6381775.a9b9d8"]]},{"id":"9b50cffd.8df2a","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume2","payloadType":"flow","x":140,"y":160,"wires":[[]]},{"id":"28971fa3.ccea2","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume3","payloadType":"flow","x":140,"y":220,"wires":[["f4e6e024.43cce"]]},{"id":"818b4acd.650788","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume4","payloadType":"flow","x":140,"y":280,"wires":[["9c217340.bd098"]]},{"id":"2075ab66.66d584","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["8d856201.86822"]]},{"id":"ace58021.2da3f","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["8d856201.86822"]]},{"id":"f190cae1.41cf98","type":"function","z":"808d92ca.2432c","name":"create command","func":"var volumes = \n    flow.get(\"ChannelVolume1\") + \" \" +\n    flow.get(\"ChannelVolume2\") + \" \" +\n    flow.get(\"ChannelVolume3\") + \" \" +\n    flow.get(\"ChannelVolume4\") + \" \" +\n    flow.get(\"ChannelVolume5\") + \" \" +\n    flow.get(\"ChannelVolume6\") + \" \" +\n    flow.get(\"ChannelVolume7\") + \" \" +\n    flow.get(\"ChannelVolume8\");\nmsg.payload = \"cd /opt/cdcontrol; python setchannelvolume.py \" + volumes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":300,"wires":[["d984cecb.cc2b4"]]},{"id":"d984cecb.cc2b4","type":"exec","z":"808d92ca.2432c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1290,"y":300,"wires":[[],[],[]]},{"id":"80003b84.5f3bf8","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["8d856201.86822"]]},{"id":"e3809c5c.ebbfd","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":400,"wires":[["8d856201.86822"]]},{"id":"53193261.e02f4c","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume7","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["8d856201.86822"]]},{"id":"212c8d24.49c9f2","type":"change","z":"808d92ca.2432c","name":"","rules":[{"t":"set","p":"ChannelVolume8","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":520,"wires":[["8d856201.86822"]]},{"id":"3cb51f3b.f9d24","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume5","payloadType":"flow","x":140,"y":340,"wires":[["de0793ae.f0bd5"]]},{"id":"5c49083c.218a78","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume6","payloadType":"flow","x":140,"y":400,"wires":[["565df629.a011c8"]]},{"id":"463cb64e.3ae588","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume7","payloadType":"flow","x":140,"y":460,"wires":[["30249bb3.df7f24"]]},{"id":"149e8a1e.c1d3f6","type":"inject","z":"808d92ca.2432c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume8","payloadType":"flow","x":140,"y":520,"wires":[["50e9b1a3.e7b5a"]]},{"id":"c65e236d.98c35","type":"inject","z":"808d92ca.2432c","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":40,"wires":[["5a24754e.002cdc"]]},{"id":"5a24754e.002cdc","type":"function","z":"808d92ca.2432c","name":"init flow variables","func":"for (i = 1; i < 9; i++) {\n    var s = \"ChannelVolume\" + i;\n    msg.payload = s;\n    var volume = flow.get(s);\n    if (volume === undefined) {\n        flow.set(s, 10);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":40,"wires":[[]]},{"id":"8d856201.86822","type":"delay","z":"808d92ca.2432c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":940,"y":300,"wires":[["f190cae1.41cf98"]]},{"id":"ffbbbfa.aa5714","type":"ui_group","z":"","name":"Initial channel levels","tab":"543ebd8c.b53984","order":1,"disp":true,"width":"6","collapse":false},{"id":"543ebd8c.b53984","type":"ui_tab","z":"","name":"Init channel levels","icon":"mi-volume_down","order":9,"disabled":false,"hidden":false}]