NodeRED/RenameRipped.txt
[{"id":"a74625dd.677638","type":"tab","label":"Rename folder","disabled":false,"info":""},{"id":"a0345d88.80e91","type":"inject","z":"a74625dd.677638","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["69c95267.121d4c"]]},{"id":"69c95267.121d4c","type":"exec","z":"a74625dd.677638","command":"ls /media/usbdisk/Music/Ripped","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":100,"wires":[["a47a29fc.4a20d8"],[],[]]},{"id":"8e4fb810.4745c8","type":"ui_dropdown","z":"a74625dd.677638","name":"","label":"","tooltip":"","place":"Select folder name","group":"f5656092.fbf29","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":240,"y":280,"wires":[["c6c07671.281678","5ee6146b.c48c0c","ffad7654.345d28"]]},{"id":"a47a29fc.4a20d8","type":"function","z":"a74625dd.677638","name":"Create options","func":"var files = msg.payload.split(\"\\n\");\nfiles.pop();\nvar unknown = [];\nfor (let i = 0; i < files.length; ++i) {\n    if (!files[i].startsWith(\"abcde\")) unknown.push(files[i]);\n}\nmsg.payload = \"\"\nmsg.options = unknown;\nflow.set(\"options\", msg.options);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["8e4fb810.4745c8"]]},{"id":"9aadf13b.5ad45","type":"ui_text","z":"a74625dd.677638","group":"f5656092.fbf29","order":4,"width":0,"height":0,"name":"","label":"Enter new folder name:","format":"","layout":"row-left","x":290,"y":360,"wires":[]},{"id":"7ad4d2c4.2a56bc","type":"ui_button","z":"a74625dd.677638","name":"","group":"f5656092.fbf29","order":1,"width":0,"height":0,"passthru":false,"label":"Get ripped CD's","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":160,"wires":[["69c95267.121d4c","d78c7d50.43649"]]},{"id":"c6c07671.281678","type":"ui_text_input","z":"a74625dd.677638","name":"","label":"","tooltip":"","group":"f5656092.fbf29","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":340,"y":500,"wires":[["44c2746a.6b794c"]]},{"id":"8ca7c03e.32b62","type":"ui_button","z":"a74625dd.677638","name":"","group":"f5656092.fbf29","order":6,"width":0,"height":0,"passthru":false,"label":"Rename","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":620,"wires":[["70ee2dbd.86fc14"]]},{"id":"7fc17c14.487424","type":"exec","z":"a74625dd.677638","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":580,"wires":[["69c95267.121d4c","cf78d28c.33323","32db711f.f6f2de"],[],[]]},{"id":"7802968d.413598","type":"function","z":"a74625dd.677638","name":"set oldname","func":"flow.set(\"oldname\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[[]]},{"id":"44c2746a.6b794c","type":"function","z":"a74625dd.677638","name":"set newname","func":"flow.set(\"newname\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":500,"wires":[[]]},{"id":"70ee2dbd.86fc14","type":"function","z":"a74625dd.677638","name":"create rename command","func":"var oldname = flow.get(\"oldname\");\nif (oldname === \"\") return;\n\nvar newname = flow.get(\"newname\");\nif (newname === \"\") {\n    msg.payload = \"No new folder name specified\";\n    return [null, msg];\n}\n\nif (flow.get(\"options\").includes(newname)) {\n    msg.payload = \"This name already exists\";\n    return [null, msg];\n}\nmsg.payload = \"mv \" + \"'/media/usbdisk/Music/Ripped/\" + oldname + \"' '/media/usbdisk/Music/Ripped/\" + newname + \"'\";\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["7fc17c14.487424"],["c4403615.67da78"]]},{"id":"c4403615.67da78","type":"ui_text","z":"a74625dd.677638","group":"f5656092.fbf29","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1190,"y":620,"wires":[]},{"id":"cf78d28c.33323","type":"function","z":"a74625dd.677638","name":"clear","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":500,"wires":[["c6c07671.281678"]]},{"id":"32db711f.f6f2de","type":"function","z":"a74625dd.677638","name":"create rename command","func":"var oldname = flow.get(\"oldname\");\nvar newname = flow.get(\"newname\");\n\nmsg.payload = \"'\" + oldname + \"' renamed to '\" + newname + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":560,"wires":[["c4403615.67da78"]]},{"id":"3a828030.fe116","type":"ui_text","z":"a74625dd.677638","group":"f5656092.fbf29","order":3,"width":0,"height":0,"name":"empty","label":"","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":320,"wires":[]},{"id":"d78c7d50.43649","type":"function","z":"a74625dd.677638","name":"clear","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":460,"wires":[["c4403615.67da78"]]},{"id":"cb357204.228ff","type":"watch","z":"a74625dd.677638","name":"On new folder","files":"/media/usbdisk/Music/Ripped","recursive":"","x":170,"y":40,"wires":[["69c95267.121d4c"]]},{"id":"5ee6146b.c48c0c","type":"function","z":"a74625dd.677638","name":"check oldname","func":"var oldname = flow.get(\"oldname\");\nif (oldname === \"\" && msg.payload !== \"\") return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["d78c7d50.43649"]]},{"id":"ffad7654.345d28","type":"delay","z":"a74625dd.677638","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":260,"wires":[["7802968d.413598"]]},{"id":"f5656092.fbf29","type":"ui_group","z":"","name":"Rename ripped folder","tab":"af4a7ba7.c44558","order":1,"disp":false,"width":"6","collapse":false},{"id":"af4a7ba7.c44558","type":"ui_tab","z":"","name":"Rename Ripped","icon":"mi-mode_edit","order":3,"disabled":false,"hidden":false}]