NodeRED/selectoutput.txt
[{"id":"4adf153.a1923ec","type":"tab","label":"SelectOutput","disabled":false,"info":""},{"id":"52ca9320.63d2ac","type":"ui_button","z":"4adf153.a1923ec","name":"","group":"7413ebbd.d2e414","order":1,"width":"3","height":"1","passthru":false,"label":"A","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"button A","payloadType":"str","topic":"","x":490,"y":140,"wires":[["4af7b40.5e4964c","af98ec0d.57b29","85eb0511.c9ffe8"]]},{"id":"482c2475.90e5ec","type":"ui_button","z":"4adf153.a1923ec","name":"","group":"7413ebbd.d2e414","order":1,"width":"3","height":"1","passthru":false,"label":"B","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":220,"wires":[["48ac2d34.88e434","f230b52f.fabff8","9cf68b5a.d1fcb8"]]},{"id":"f230b52f.fabff8","type":"function","z":"4adf153.a1923ec","name":"B: ON","func":"msg.background = \"#87A980\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["482c2475.90e5ec"]]},{"id":"4af7b40.5e4964c","type":"function","z":"4adf153.a1923ec","name":"B: OFF","func":"msg.background = \"#C0C0C0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["482c2475.90e5ec"]]},{"id":"48ac2d34.88e434","type":"function","z":"4adf153.a1923ec","name":"A: OFF","func":"msg.background = \"#C0C0C0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["52ca9320.63d2ac"]]},{"id":"af98ec0d.57b29","type":"function","z":"4adf153.a1923ec","name":"A: ON","func":"msg.background = \"#87A980\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[["52ca9320.63d2ac"]]},{"id":"85eb0511.c9ffe8","type":"change","z":"4adf153.a1923ec","name":"Set output=A","rules":[{"t":"set","p":"output","pt":"flow","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["5009ba9b.4e7b84"]]},{"id":"9cf68b5a.d1fcb8","type":"change","z":"4adf153.a1923ec","name":"Set output=B","rules":[{"t":"set","p":"output","pt":"flow","to":"B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["5009ba9b.4e7b84"]]},{"id":"141ff88c.691147","type":"inject","z":"4adf153.a1923ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["990c498f.79bdc8"]]},{"id":"990c498f.79bdc8","type":"function","z":"4adf153.a1923ec","name":"init","func":"var output = flow.get(\"output\");\nif (output === undefined) {\n    output = \"A\";\n    flow.set(\"output\", output);\n}\n\nif (output == \"A\") {\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":150,"y":180,"wires":[["af98ec0d.57b29","4af7b40.5e4964c"],["f230b52f.fabff8","48ac2d34.88e434"]]},{"id":"4be73d16.42aef4","type":"ui_numeric","z":"4adf153.a1923ec","name":"level A","label":"","tooltip":"","group":"7413ebbd.d2e414","order":2,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"31","step":1,"x":370,"y":420,"wires":[["212a8c15.c3d804"]]},{"id":"4209e34d.e87dcc","type":"ui_numeric","z":"4adf153.a1923ec","name":"level B","label":"","tooltip":"","group":"7413ebbd.d2e414","order":2,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"31","step":1,"x":370,"y":480,"wires":[["8fcf5696.3a8b18"]]},{"id":"212a8c15.c3d804","type":"change","z":"4adf153.a1923ec","name":"","rules":[{"t":"set","p":"ChannelVolume1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["bb21c591.c885e8"]]},{"id":"8fcf5696.3a8b18","type":"change","z":"4adf153.a1923ec","name":"","rules":[{"t":"set","p":"ChannelVolume2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":480,"wires":[["bb21c591.c885e8"]]},{"id":"36bc7c8e.6a5444","type":"inject","z":"4adf153.a1923ec","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["3eec67f0.61d268"]]},{"id":"3eec67f0.61d268","type":"function","z":"4adf153.a1923ec","name":"init flow variables","func":"for (i = 1; i < 3; i++) {\n    var s = \"ChannelVolume\" + i;\n    msg.payload = s;\n    var volume = flow.get(s);\n    if (volume === undefined) {\n        flow.set(s, 31);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":360,"wires":[[]]},{"id":"4dfd50da.c187c","type":"inject","z":"4adf153.a1923ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume1","payloadType":"flow","x":160,"y":420,"wires":[["4be73d16.42aef4"]]},{"id":"eaf25cf0.47e8f","type":"inject","z":"4adf153.a1923ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"ChannelVolume2","payloadType":"flow","x":160,"y":480,"wires":[["4209e34d.e87dcc"]]},{"id":"eb42d01f.8ae4c","type":"function","z":"4adf153.a1923ec","name":"create command","func":"var volumes = \n    flow.get(\"ChannelVolume1\") + \" \" +\n    flow.get(\"ChannelVolume2\");\nmsg.payload = \"cd /opt/cdcontrol; python setoutputvolume.py \" + volumes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":440,"wires":[["98a2ff84.1477b"]]},{"id":"98a2ff84.1477b","type":"exec","z":"4adf153.a1923ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":440,"wires":[["2fa76987.8ffd16"],[],[]]},{"id":"bb21c591.c885e8","type":"delay","z":"4adf153.a1923ec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":820,"y":440,"wires":[["eb42d01f.8ae4c"]]},{"id":"2fa76987.8ffd16","type":"debug","z":"4adf153.a1923ec","name":"vol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":440,"wires":[]},{"id":"5009ba9b.4e7b84","type":"function","z":"4adf153.a1923ec","name":"create command","func":"var output = flow.get(\"output\");\n\nif (output == \"A\") output = \"0\"; else output = \"1\";\nmsg.payload = \"cd /opt/cdcontrol; python selectoutputchannel.py \" + output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":180,"wires":[["4d9d962.f6c2668"]]},{"id":"4d9d962.f6c2668","type":"exec","z":"4adf153.a1923ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1030,"y":180,"wires":[["5d05aa2.fa56054"],[],[]]},{"id":"5d05aa2.fa56054","type":"debug","z":"4adf153.a1923ec","name":"exec","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":180,"wires":[]},{"id":"7413ebbd.d2e414","type":"ui_group","z":"","name":"Select output channel and level","tab":"73b4abdc.2e70d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"73b4abdc.2e70d4","type":"ui_tab","z":"","name":"Output channel","icon":"mi-call_split","order":7,"disabled":false,"hidden":false}]