NodeRED/Volume-channel.txt
[{"id":"7602748a.7ebddc","type":"tab","label":"SetChannel","disabled":false,"info":""},{"id":"29fb8227.3a12be","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"1. Pickup _________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":220,"y":40,"wires":[["6195a75b.9b0f08"]]},{"id":"6195a75b.9b0f08","type":"exec","z":"7602748a.7ebddc","command":"python /opt/cdcontrol/setchannel.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":180,"wires":[[],[],[]]},{"id":"bc5ef734.12ba58","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"2. TV        ______________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":230,"y":80,"wires":[["6195a75b.9b0f08"]]},{"id":"84db18a.61a83e8","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"3. AUX   ____________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":220,"y":120,"wires":[["6195a75b.9b0f08"]]},{"id":"d8b6d8d.a2f7228","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"4. AUX   ____________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":220,"y":160,"wires":[["6195a75b.9b0f08"]]},{"id":"cd113191.e2cdb","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"5. AUX   ____________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":220,"y":200,"wires":[["6195a75b.9b0f08"]]},{"id":"9fdaacbe.e147","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"6. AUX   ____________","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":220,"y":240,"wires":[["6195a75b.9b0f08"]]},{"id":"db314514.1ab1a8","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"7. Streamer / CD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":210,"y":280,"wires":[["6195a75b.9b0f08"]]},{"id":"f8cf7978.5095a8","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"a2da8979.1ae748","order":0,"width":"0","height":"0","passthru":false,"label":"8. Bluetooth   ___","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":200,"y":320,"wires":[["6195a75b.9b0f08"]]},{"id":"8d8fc323.cb18e","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"9c6c1ca1.fe186","order":0,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":170,"y":420,"wires":[["bd83e2c0.9fe29"]]},{"id":"3e21cd72.fe6d82","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"9c6c1ca1.fe186","order":0,"width":"2","height":"1","passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":180,"y":460,"wires":[["bd83e2c0.9fe29"]]},{"id":"35b4e8c2.98d1f8","type":"ui_button","z":"7602748a.7ebddc","name":"","group":"9c6c1ca1.fe186","order":0,"width":"2","height":"1","passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":170,"y":500,"wires":[["bd83e2c0.9fe29"]]},{"id":"bd83e2c0.9fe29","type":"exec","z":"7602748a.7ebddc","command":"python /opt/cdcontrol/setvolume.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":460,"wires":[[],[],[]]},{"id":"a2da8979.1ae748","type":"ui_group","z":"","name":"Select channel","tab":"23699927.3b3966","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c6c1ca1.fe186","type":"ui_group","z":"","name":"Set volume","tab":"23699927.3b3966","order":2,"disp":true,"width":"6","collapse":false},{"id":"23699927.3b3966","type":"ui_tab","z":"","name":"Channel/Volume","icon":"dashboard","order":1,"disabled":false,"hidden":false}]